* {
  text-align: center;
}

.container {
  width: 70%;
  align-content: center;
  margin: auto;
}

form {
  margin: 20px auto;
  width: 70%;
}

.bookTable {
  border: 1px solid #00000045;
  font-size: large;
  width: 100%;
  border-collapse: collapse;
}

.heading,
.data {
  padding: 10px;
  margin: 10px;
}

th,
td {
  text-align: start;
}

th:nth-child(1) {
  width: 80%;
}

td {
  padding: 0 10px;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}

.btn {
  color: white;
  padding: 14px 22px;
  align-items: center;
  border: none;
  background-color: rgb(50, 84, 158);
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
}

input {
  height: 18px;
}

form input {
  border: solid 1px rgb(168, 168, 168);
  padding: 11px;
  width: 70%;
  margin: 10px;
}

.emptyBookMsg {
  width: 50%;
}

.none {
  display: none;
}

legend {
  font-size: 2em;
  font-weight: 600;
}
